
.footer__author {
  margin: 0;
  padding: 0;
  right: 48px;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: #ffffff;
    margin-bottom: 24px;
  }


  
  @media screen and (max-width: 767px) {
    .footer__author {
      line-height: 14px;
      margin-bottom: 8px;
      
    }
  }